 .body{
    border: 20px;
    height: 600px;
    width: 30%;
    background-color: aquamarine;
    border-style:groove;
    position: absolute;
    top: 10px;
    margin-left: 500px;
    
}
button{
    margin-left:190px;
    margin-top: -10px;
}
.new
{
    margin-top: 0px;
    margin-left: 0px;


} 
.im{
    margin-top: 0px;
    margin-left: 100px;
    overflow: hidden;
}